@media (min-width: 700px) {
    .main-img {
       max-width: 40vw;
       height: auto;
    }
}
@media (max-width: 900px) {
    .main-img {
        max-width: 60vw;
        height: auto;
    }
}

.main-text {
    max-width: 40vw;
    vertical-align: bottom;
}
.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body {
    background-image: url('../img/pattern_40.png');
    background-repeat: repeat;
}
.navbar {
    background-color: #ffffff;
    /* height: 10vh; */
}

.search-input {
    border-radius: 20px 0px 0px 20px;
}
.search-btn {
    border-radius: 0px 20px 20px 0px;
}
.funny {
    color: rgb(250, 254, 249);
    background-color: #37ABC8;
}
.add {
    color: #FAFEF9;
    background-color:#FF5599;
}
.all {
    color: #FFFFFF;
    background-color: #FFE47A;
}
.action-buttons-row {
    margin-top: 7vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.action-button {
    width: 150px;
    height: 150px;

    margin-left: auto;
    margin-right: auto;

    box-shadow: 3px 3px 1px #888888;

    border-radius: 50%;

    position: relative;
}
i {
    display: block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
i:hover {
    cursor: pointer;
}
.row {
    margin-top: 2vh;
    text-align: center;
}
th {
    text-align: center;
}

.modal {
    display: block;
}
.modal-body:before,
.modal-body:after {
    display: table;
    content: " ";
}
.modal-header:before,
.modal-header:after {
    display: table;
    content: " ";
}


/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/

.dz-input {
    border-radius: 2vh 2vh;
    /* margin-top: 3vh; */
}

.dz-input:focus {
    -webkit-box-shadow: 0px 0px 40px -5px rgba(66,66,66,0.8);
    -moz-box-shadow: 0px 0px 40px -5px rgba(66,66,66,0.8);
    box-shadow: 0px 0px 40px -5px rgba(66,66,66,0.8);
}

.dz-input:hover {
    cursor: text;
}

.dz-circle-button {
    border-radius: 100% 100%;
    /* border-style : 5px solid black; */
    width: 15vh;
    height: 15vh;

    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.dz-circle-button > img {
    width: 14vh;
    height: 14vh;
    margin-left: auto;
    margin-right: auto;
}

.dz-like-btn {
    border-radius: 100% 100%;
    height: 4vh;
    width: 4vh;

    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;

}

.logo-small {
    height: 3vh;
}

li {
    margin-left: 1vh;
    margin-top: 1vh;
}

span {
    text-align: center;
}

.dz-help-btn {
    font-family: 'Dosis';
    font-size: 2vh;
    border-radius: 100% 100%;
    border: 1px solid black;
    height: 3vh;
    width: 3vh;
    background-color: white;
}

.dz-like-btn > img {
    height: 3vh;
    width: 3vh;
}

.dz-span-btn {
    width: 2vh;
    height: 2vh;
}

.dz-table {
    background-color: white;
    border: 2px solid lightgray;
}

.lightblue {
    background-color: rgb(161, 216, 241);
}

.lightpink {
    background-color: rgb(241, 161, 224);
}

.lightyellow {
    background-color: rgb(243, 255, 112);
}

td {
    text-align: center;
}

h1 {
    font-family: 'Dosis';
}

.bottom-text {
    height: 15vh;
}
