<script type="text/ng-template" id="help.html">
<div class="modal-header" closed="closeHelp()">
        Pomoc
    </div>

    <div class="modal-body">
        <div class="row">
        <button class="dz-circle-button">
            <img src="./img/dz-martyna/dz-button-baby-frame-white-center-green.png" />
        </button>
        <h2>Pokaż wszystkie przekręty</h2>
        </div>
        <div class="row">
        <button class="dz-circle-button">
            <img src="./img/dz-martyna/dz-button-plus-frame-white-center-purple.png" />
        </button>
        <h2>Dodaj przekret</h2>
        </div>
        <div class="row">
        <button class="dz-circle-button">
            <img src="./img/dz-martyna/dz-button-star-frame-white-center-yellow.png" />
        </button>
        <h2>Pokaz najpopularniejsze</h2>
        </div>
        <div class="row">
        <button class="dz-circle-button">
            <img src="./img/dz-martyna/dz-button-heart-frame-white-center-pink.png" />
        </button>
        <h2>Pokaz lubiane przez siebie</h2>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="closeHelp(false)">OK</button>
    </div>
</script>
