<head>
    <meta charset="UTF-8"> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular.min.js"></script > -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-animate.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-touch.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js">
    </script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GYBZMlEOunzhR/VZ6XhlOir+4wC0SyDpSIotW0oxJizkK/V2czMG1GvOmuRiNUNP" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js" integrity="sha384-7pPmvaV7JjM/wsobVyDu9o+X6ETgKe/Yp7VfxVr7OiOEnkvzsQB8LfBqMXnbTIht" crossorigin="anonymous"></script>
    <script src="./js/angular-facebook.js"></script>
    <link href="./css/dzieciecowo.css"
          rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Dosis"
        rel="stylesheet">
</head>
<body ng-app="dzieciecowo">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                 <a href="#" class="navbar-brand" class="logo-small">
                     <img src="./img/logo_lizak.png" class="logo-small" />
                 </a>
                 <button type="button" class="navbar-toggle" 
                         data-toggle="collapse" data-target="#myNavbar">
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                 </button>
            </div>
            <div id="myNavbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right"> 
                    <li ng-controller="helpController">
                        <button class="dz-help-btn" ng-click="showHelp()">?</button>
                    </li>
                    <li id="login" ng-controller="UserController" ng-init="getUserInfo()">
                        <button class="btn btn-default" ng-show="!(loggedIn)"
                            ng-hide="loggedIn" ng-click="showModal()">Zaloguj się</button>
                        {{ user.name }}
                        <img ng-src="{{user.profilePicture}}" ng-show="user.profilePicture" width="40px" height="40px" />
                        <!-- <button class="btn btn-default" ng-click="login()" ng-show="!(loggedIn)" ng-hide="loggedIn">fb</button> -->
                        <button class="btn btn-default" ng-click="logout()" ng-show="loggedIn" ng-hide="!(loggedIn)">logout</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row" >
           <img src="./img/top3.png" class="main-img" />
        </div>
        <!-- <div class="row"> -->
        <!--    <img src="./img/dz-martyna/logo_v1.png" class="main-text"/> -->
        <!-- </div> -->
        <div class="row" ng-controller="errorController">
            <div class="alert alert-danger col-md-6" ng-show="showNotLoggedIn" ng-hide="!(showNotLoggedIn)">Nie jestes zalogowany</div>
            <div class="alert alert-danger col-md-6" ng-show="showAlreadyLiked" ng-hide="!(showAlreadyLiked)">Juz to polubiles sznyclu</div>
            <div class="alert alert-danger col-md-6" ng-show="showInputNotValid" ng-hide="!(showInputNotValid)">Wypelniles poprawnie wszystkie pola?</div>
            <div class="alert alert-success col-md-6" ng-show="showAddedSuccessfully" ng-hide="!(showAddedSuccessfully)">Dodano</div>
        </div>

        <div ng-controller="WordsController">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="input-group col-md-8">
                    <input type="input" ng-model="searchPhrase" class="form-control dz-input" />
                    <span class="input-group-btn">
                        <button ng-click="search()" class="btn btn-default">
                            <img src="./img/dz-martyna/dz-btn2.png" class="dz-span-btn" /> Szukaj
                        </button>
                    </span>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <button ng-click="showAllWords()" class="dz-circle-button"><img src="./img/dz-martyna/dz-button-baby-frame-white-center-green.png" /></button>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <button ng-click="showAdd()" class="dz-circle-button"><img src="./img/dz-martyna/dz-button-plus-frame-white-center-purple.png" /></button>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <button ng-click="showMostLiked()" class="dz-circle-button"><img src="./img/dz-martyna/dz-button-star-frame-white-center-yellow.png" /></button>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <button ng-click="getLiked()"
                            class="dz-circle-button">
                            <img src="./img/dz-martyna/dz-button-heart-frame-white-center-pink.png" />
                        </button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <mytable2 words="foundWords" ng-show="show.found"></mytable>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <mytable2 words="words" ng-show="show.all"></mytable>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <mytable2 words="words2" ng-show="show.best"></mytable>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <mytable2 words="liked" ng-show="show.liked"></mytable>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-0 col-md-3"></div>
                <form ng-show="show.add" ng-submit="addTwist()" class="col-xs-12
                    col-md-6">
                    <input type="input" class="form-control dz-input" ng-model="word" placeholder="word" />
                    <input type="input" class="form-control dz-input" ng-model="twist" placeholder="twist" />
                    <input type="input" class="form-control dz-input" ng-model="childName" placeholder="childName" />
                    <input type="submit" class="btn btn-default" id="submit" value="Dodaj" />
                </form>
            </div>
        </div>
    </div>
    <script src="./js/app.js"></script>
    <script src="./js/services/errorService.js"></script>
    <script src="./js/controllers/WordsController.js"></script>
    <script src="./js/controllers/helpController.js"></script>
    <script src="./js/controllers/errorController.js"></script>
    <script src="./js/controllers/UserController.js"></script>
    <script src="./js/services/fbService.js"></script>
    <script src="./js/services/WordsService.js"></script>
    <script src="./js/services/TwistService.js"></script>
    <script src="./js/services/api.js"></script>
    <script src="./js/directives/wordTable.js"></script>
    <script src="./js/directives/wordTable2.js"></script>
    <!-- <script src="./js/ui-bootstrap-tpls-2.3.0.min.js"></script> -->
</body>
