<script type="text/ng-template" id="modalContent.html"></script>
    <div class="modal-header">
          <h1>Zaloguj się</h1>
    </div>'
    <div class="modal-body">
        <div class="col-md-3"></div>
        <button class="dz-circle-button" ng-click="login()">
            <img src="./img/dz-martyna/dz-button-facebook-frame-blue.png"/>
        </button>
    </div>
</script>
