<table class="table dz-table col-md-12">
    <tr>
        <th><button class="btn btn-default" disabled ng-click="setSortingBy('word')">Slowo</button></th>
        <th><button class="btn btn-default" disabled ng-click="setSortingBy('twist')">Przekret</button></th>
        <th><button class="btn btn-default" disabled ng-click="setSortingBy('ranging')">Polubienia</button></th>
        <th class="hidden-sm hidden-xs"><button class="btn btn-default" disabled ng-click="setSortingBy('childName')">Imie dziecka</button></th>
        <th><button class="btn btn-default" disabled >Polub</button></th>
    <tr>
    <tr ng-repeat="word in filtered | orderBy:propertyName:reverse">
        <td>{{ word.word }}</td>
        <td>{{ word.twist.twist }}</td>
        <td>{{ word.twist.ranging }}</td>
        <td class="hidden-sm hidden-xs">{{ word.twist.childName }}</td>
        <td >
            <button ng-click="upvote(word)" class="btn-default dz-like-btn">
                <img src="./img/dz-martyna/dz-btn3.png" ng-show="!word.twist.likedByCurrentUser"/>
                <img src="./img/dz-martyna/dz-button-thumb-up-frame-white-center-blue.png" ng-show="word.twist.likedByCurrentUser" />
            </button>
        </td>
    </tr>
</table>

<pagination class="pagination"
    ng-model="currentPage"
    total-items="words.length"
    max-size="maxSize">
</pagination>
