<table class="table dz-table col-md-12">
    <tr>
        <th><button class="btn btn-default" ng-click="setSortingBy('word')">Slowo</button></th>
        <th><button class="btn btn-default" ng-click="setSortingBy('user')">Uzytkownik</button></th>
        <th><button class="btn btn-default" ng-click="setSortingBy('twist')">Przekret</button></th>
        <th><button class="btn btn-default" ng-click="setSortingBy('ranging')">Polubienia</button></th>
        <th><button class="btn btn-default" ng-click="setSortingBy('childName')">Imie dziecka</button></th>
        <th>Polub</th>
    <tr>
    <tbody ng-repeat="word in words | orderBy:propertyName:reverse">
        <tr ng-repeat="twist in word.twists">
            <td>{{ word.word }}</td>
            <td>{{ word.user }}</td>
            <td>{{ twist.twist }}</td>
            <td>{{ twist.ranging }}</td>
            <td>{{ twist.childName }}</td>
            <td >
                <button ng-click="upvote(twist)" class="btn-default dz-like-btn">
                    <img src="./img/dz-martyna/dz-btn3.png" ng-show="!twist.likedByCurrentUser"/>
                    <img src="./img/dz-martyna/dz-button-thumb-up-frame-white-center-blue.png" ng-show="twist.likedByCurrentUser" />
                </button>
            </td>
        </tr>
    </tbody>
</table>
